body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('images/drummer.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drum-list-item {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drum-list-item .letter {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.drum-list-item .name {
  color: #eeb501;
}

.drum-list-item:hover {
  border-color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.3);
}
